---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { ImageMetadata } from 'astro';
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<section class="py-20 flex md:flex-row flex-col px-4 md:px-0 gap-10 md:gap-0">
  <div class="flex flex-col gap-6 justify-start items-start md:w-1/2">
    <h1 class="text-pblack">Hi, my name is Rocky the Penguin</h1>
    <p class="text-6xl font-bold">Every stone tells a story.</p>
    <p>
      I'm a 7-year-old Adelie penguin from Cape Adare, Antarctica. While other penguins play typical games, I'm fascinated by the colorful stones scattered around our nesting area. My collection spans 15 different mineral types, with my prized possession being a piece of Antarctic meteorite I found during a blizzard.
    </p>
    <a
      rel="noopener noreferrer"
      href="/blog"
      class="bg-glacial px-5 py-3 border-1 border-deepocean rounded-lg shadow-card hover:shadow-hover transition"
    >
      View my collection
    </a>
  </div>
  <div
    class="md:w-1/2 object-contain flex flex-col items-center justify-center p-10 group"
  >
    <a
      rel="noopener noreferrer"
      href="#about"
    >
      <div
        class="bg-iceblue border-3 border-deepocean rounded-2xl shadow-card group-hover:shadow-hover flex transition relative"
        style="width: 234px; height: 320px;"
      >
        <div
          class="absolute -top-8 -left-12 bg-amber-100 p-2 z-10 shadow-card group-hover:shadow-hover transition rounded-full border-3 border-deepocean"
        >
          <Image src={images["/src/assets/rock.png"]()} alt="Rock" class="w-12 h-12" />
        </div>
        <div
          class="absolute top-16 -right-16 bg-orange-100 p-2 z-10 shadow-card group-hover:shadow-hover transition rounded-full border-3 border-deepocean"
        >
          <Image src={images["/src/assets/penguin.png"]()} alt="Penguin" class="w-12 h-12" />
        </div>
        <div class="overflow-hidden absolute inset-0 rounded-2xl">
          <Image
            class="object-cover object-center absolute inset-0 w-full h-full group-hover:scale-105 transition"
            src={images["/src/assets/hero.jpg"]()}
            alt="Rocky the Penguin"
          />
        </div>
      </div></a
    >
    <div class="text-xs text-gray-500 text-center mt-4">
      Photo by <a href="https://www.pexels.com/photo/adelie-penguin-on-rocky-antarctic-shoreline-31308007/" target="_blank" rel="noopener noreferrer" class="hover:text-deepocean">ArcticDesire.com Polarreisen</a>
    </div>
  </div>
</section>
